<span
  class="h-96 flex flex-col w-52 justify-between items-center border rounded p-2 gap-3"
>
  <img
    class="w-28 rounded"
    src="{{ product()!.images[0] }}"
    alt="{{ product()!.title }}"
    (error)="handleImageError($event)"
  />
  <h1 class="hover:text-slate-500 cursor-pointer" [routerLink]="['/product-detail', product()!.id]">{{ product()!.title }}</h1>
  <h2>Price: {{ product()!.price | currency : "COP" }}$</h2>
  <p class="h-20 overflow-scroll">{{ product()!.description }}</p>

    <p>rate: {{ product().rating.rate }}</p>
    <p>count: {{ product().rating.count }}</p>

  <span class="flex flex-col gap-3">
    <p>Value From Child: {{ value() }}</p>
    <button class="bg-slate-400 p-2 rounded active:bg-slate-200" (click)="increment()">
      Add to cart
    </button>
  </span>
</span>
