<span class="h-96 flex flex-col w-52 justify-between items-center border rounded p-2 gap-3">
    <h1>{{ product!.title }}</h1>
    <h2>Price: {{ product!.price | currency: "COP" }}$</h2>
    <img class="w-28 rounded"
      src="{{ product!.images[0] }}"
      alt="{{ product!.title }}"
      (error)="handleImageError($event)"
    />
    <p class="h-20 overflow-scroll" >{{ product!.description }}</p>
    <span class="flex flex-wrap gap-3">
      <button [routerLink]="['/product-detail', product!.id]">Show Details</button>
      <button (click)="addToCart()">Add to cart</button>
    </span>
  </span>
  