/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

::view-transition-old(root) {
  //animation: exit 2s ease 0s 1 normal forwards;
}

::view-transition-new(root) {
  // animation: enter 3s ease 0s 1 normal forwards;
  animation: myAnim 0.2s ease 0s 1 normal forwards;
}

// @keyframes enter {
//   from {
//     opacity: 0;
//     transform: translateY(-50px);
//   }

//   to {
//     opacity: 0;
//     transform: translateY(0);
//   }
// }

// @keyframes exit{
//   from {
//     opacity: 1;
//     transform: scale(1);
//   }

//   to{
//     opacity: 1;
//     transform: scale(0.6);
//   }
// }

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(-68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}